/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

html {
	font-family: 'Lato', Helvetica Neue, helvetica, sans-serif;
}

body {
	color: #333;
	padding-top: 72px;
	background: #fff;
	font-size: 16px;
	line-height: 1.2em;
}

h1 {
	font-size: 1.2em;
}

.nav__logo {
	width: 30px;
	margin: -5px 0 5px 0;
	vertical-align: 20px;
}

.tomato-chart {
	background: white;
}

/*************************************** 
 * Tomato Navigation
 **************************************/
.tomato-navigation {
	background-image: url("../images/yellow-pattern.png");
}
.tomato-navigation__title {
	font-weight: bold;
}
.tomato-announcement_Nav { 
	margin-left: 2px; 
	text-decoration: none;
}
a.tomato-announcement_Nav { 
	text-decoration: none;
	color: #777;
	font-weight: bold;
}
.announce-icon{color:red;}

/*************************************** 
 * Tomato Card 
 **************************************/
.tomato-card {
	background: white;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	overflow: hidden;
	margin-bottom: 24px;
}

.tomato-card__header {
	margin-bottom: 20px;
	background: rgba(173, 231, 75, 0.93);
	padding: 12px;
	text-align: center;
}

.tomato-card__body {
	padding: 24px;
}

/*************************************** 
 * Tomato Dropdown 
 **************************************/

/*************************************** 
 * Tomato Grid 
 **************************************/
.tomato-grid-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

 .tomato-grid-panel__search-bar {
	margin-right: auto;
}

/*************************************** 
 * Tomato Loading Indicator
 **************************************/
.tomato-loading-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
}

.tomato-loading-indicator__text {
	font-size: 1.2aem;
}

.tomato-loading-indicator__animation {
	width: 30px;
	height: 30px;
	position: relative;
	right: 10px;
}
  
.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: tomato;
	opacity: 0.6;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}
  
.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
  
@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/*************************************** 
 ***** Tomato Announcements Feed ******
 **************************************/

 .announcefeed-container {
	width: 100%;
	height: 800px;
	overflow-y: scroll;
	
}
.announcement-container{
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(189, 189, 189, 0.16);

}
.announcement-container-item {
	padding: 10px 10px 1px 10px;
}
.announcement-container-titleIcon
{
	background-color: blue;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	line-height: 1.5em;
}
.announcement-container-title {
	font-size: 1.2em;
	margin-bottom: .2rem;
	font-weight: bold;
}
.announcement-container-body {
	padding-top: 10px;
}
.announcement-container-detail {
	margin-top: 5px;
}
.announcement-container-detail-CreatedBy
{
	color: blue;
	margin-right:5px;
}
.announcement-container-detail-CreatedDate
{
	margin-left: 10px;
	color:blue;
	margin-right: 5px;
}
.announcement-container-detail-text {
	font-weight: bold;
}

.announcement-filter
{
	float: right;
	margin-top: -30px;
}
.announcement-filter select{
	border:none;
	background-color: rgba(189, 189, 189, 0.16);
	height:30px;
    margin-bottom: 10px;
}
